html,
body {
  height: 100%;
  margin: 0;
}

#hero {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #36393F;
}

#logo {
    width: 350px;
    filter: invert(1);
}

#hero-contents{
    color: white;
    text-align: center;
}

#hero-contents h4{
    padding-top: 20px;
    border-top: 1px solid white;
}

#nav {
    display: flex;
    justify-content: space-around;
}