.feedbackplus.feedbackplus-modal {
  position: fixed;
  width: 90%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2147483647;
  border-radius: 10px;
  background-color: white;
  box-sizing: border-box;
}

.feedbackplus.feedbackplus-canvas-container {
  overflow: auto;
  width: 100%;
  height: calc(90vh - 102px);
  position: relative;
  scrollbar-width: thin;
}

.feedbackplus.feedbackplus-canvas-container::-webkit-scrollbar{
  width: 10px;
  height: 10px;
}

.feedbackplus.feedbackplus-canvas-container::-webkit-scrollbar-thumb {
  background-color: rgb(0, 0, 0, 0.2);
}

.feedbackplus.feedbackplus-canvas-container::-webkit-scrollbar-thumb:hover{
  background-color: rgb(0, 0, 0, 0.3);
}

.feedbackplus.feedbackplus-canvas-container::-webkit-scrollbar-thumb:active{
  background-color: rgb(0, 0, 0, 0.4);
}

.feedbackplus.feedbackplus-highlight {
  position: absolute;
  border: 5px solid #fcc934;
}

.feedbackplus.feedbackplus-highlight:hover {
  background-color: rgb(122, 167, 255, 0.1);
}

.feedbackplus.feedbackplus-hide {
  position: absolute;
  background-color: black;
}

.feedbackplus.feedbackplus-hide:hover {
  background-color: rgb(0, 0, 0, 0.8);
}

.feedbackplus.feedbackplus-tool-close {
  display: none;
  margin-right: 10px;
  position: absolute;
  background-color: white;
  border-radius: 50%;
  border: 2px solid black;
  padding: 5px;
  top: -20px;
  right: -30px;
  cursor: pointer;
  height: 15px;
  width: 15px;
}

.feedbackplus.feedbackplus-hide:hover .feedbackplus.feedbackplus-tool-close,
.feedbackplus.feedbackplus-highlight:hover
  .feedbackplus.feedbackplus-tool-close {
  display: block;
}

.feedbackplus.feedbackplus-header,
.feedbackplus.feedbackplus-footer {
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.feedbackplus.feedbackplus-header {
  height: 50px;
  max-height: 50px;
}

.feedbackplus.feedbackplus-footer {
  max-height: 52px;
}

.feedbackplus.feedbackplus-header h2 {
  margin: 5px 20px;
  font-size: 16px;
  font-weight: normal;
}

.feedbackplus.feedbackplus-footer {
  padding: 10px 20px;
  padding-top: 0px;
}

.feedbackplus.feedbackplus-finish-actions,
.feedbackplus.feedbackplus-tools {
  margin-top: 10px;
}

.feedbackplus.feedbackplus-backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2147483646;
  background-color: rgb(0, 0, 0, 0.5);
}

.feedbackplus.feedbackplus-tools {
  display: flex;
}

.feedbackplus.feedbackplus-button {
  padding: 5px 20px;
  border-radius: 25px;
  cursor: pointer;
  user-select: none;
  display: flex;
  align-items: center;
  border: 1px solid #808080;
  color: #0b57d0;
  font-size: 14px;
}

.feedbackplus.feedbackplus-button:hover {
  border-color: #0b57d0;
  background-color: #f5f5f5;
}

.feedbackplus.feedbackplus-button:active {
  background-color: #ededed;
}

.feedbackplus.feedbackplus-button.feedbackplus-active {
  border-color: #0b57d0;
  background-color: #e0e0e0;
}

.feedbackplus.feedbackplus-tool-icon {
  margin-right: 7.6px;
}

.feedbackplus.feedbackplus-finish-actions {
  display: flex;
}

.feedbackplus.feedbackplus-close {
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .feedbackplus.feedbackplus-modal {
    top: 0;
    left: 0;
    transform: none;
    height: 100%;
    width: 100%;
    border-radius: 0;
  }

  .feedbackplus.feedbackplus-canvas-container {
    height: calc(100% - 102px);
  }
}
